@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif, serif;
}

:root {
  --purple: #A445ED;
  --red: #FF5252;
  --grey: #757575;
  --light-grey: #E9E9E9;
  --white:#ffffff;
  --off-white: #F4F4F4;
  --dm-body-bg: #050505;
  --dm-form-bg: #1F1F1F;
}

.appContainer {
  width: 100%;
  height: 100%;
}

.appWrapper {
  width: 90%;
  min-height: 100vh;
  max-height: fit-content;
  margin-top: 2rem !important;
}

.navWrapper {
  width: 100% !important;
  height: fit-content !important;
}

.iconContainer {
  width: 40% !important;
  height: fit-content !important;
}

.bookIcon {
  width: 2rem !important;
  height: 2.28rem !important;
}

.rightNav {
  width: 30% !important;
  height: fit-content !important;
}

.fontSelect {
  width: 40% !important;
  height: fit-content !important;
}

.toggleContainer {
  width: 40% !important;
  height: fit-content !important;
}

.formWrapper {
  background-color: var(--off-white);
  border-radius: 1rem !important;
  width: 46rem !important;
  height: 4rem !important;
}

.formInput {
  background-color: var(--off-white) !important;
}

@media (min-width: 768px) {
  .appWrapper {
    width: 50%;
    min-height: 100vh;
    max-height: fit-content;
  }
}