@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif, serif;
}

:root {
  --purple: #A445ED;
  --red: #FF5252;
  --grey: #757575;
  --light-grey: #E9E9E9;
  --white:#ffffff;
  --off-white: #F4F4F4;
  --dm-body-bg: #050505;
  --dm-form-bg: #1F1F1F;
}

.appContainer {
  width: 100%;
  height: 100%;
}

.appContainer.dark {
  background-color: var(--dm-body-bg) !important;
}

.appWrapper {
  width: 90%;
  min-height: 100vh;
  max-height: fit-content;
  margin-top: 2rem;
}

.navWrapper {
  width: 100% !important;
  height: fit-content !important;
}

.iconContainer {
  width: 50% !important;
  height: fit-content !important;
  /* border: 1px solid #000; */
}

.bookIcon {
  width: 2rem !important;
  height: 2.28rem !important;
}

.rightNav {
  width: fit-content !important;
  height: fit-content !important;
}

.fontSelect {
  width: 56% !important;
  height: fit-content !important;
  font-family: Inter;
  font-size: 1.125rem !important;
  color: #2d2d2d !important;
  line-height: 1.5rem !important;
  font-weight: 700 !important;
}

.select.dark {
  background-color: var(--dm-body-bg) !important;
  color: var(--white) !important;
}

.vLine {
  margin-right: 0.625rem !important;
  margin-left: 0.5rem !important;
  width: 0.0625rem !important;
}

.vLine.dark {
  color: var(--light-grey) !important;
}

.toggleContainer {
  width: 35% !important;
  height: fit-content !important;
}

.toggleButton {
  width: 2.2rem !important;
  height: 1rem !important;
  background-color: var(--grey) !important;
  border-radius: 0.5rem !important;
}

.toggleButton.dark {
  background-color: var(--purple) !important;
  padding-left: 1.2rem !important;
}

.moon.dark {
  color: var(--purple) !important;
}

.formWrapper {
  background-color: var(--off-white);
  border-radius: 1rem !important;
  width: 100% !important;
  height: 4rem !important;
}

.formWrapper.dark {
  background-color: var(--dm-form-bg) !important;
}

.formInput {
  background-color: var(--off-white) !important;
}

.formInput.dark {
  background-color: var(--dm-form-bg) !important;
  color: var(--white) !important;
}

.formInput.dark::placeholder {
  color: var(--white) !important;
}

.source {
  font-family: Inter !important;
  font-size: 0.88rem !important;
}

.source.dark {
  color: var(--grey) !important;
}

.bottomLink {
  font-family: Inter !important;
  font-size: 0.88rem !important;
  text-decoration: underline;
}

.bottomLink.dark {
  color: var(--white);
}

@media (min-width: 768px) {
  .appWrapper {
    width: 50%;
    min-height: 100vh;
    max-height: fit-content;
  }

  .navWrapper {
    width: 100% !important;
    height: fit-content !important;
  }
}